<div class="landing">
    <header>
        <div class="img-logo-box">
               <img class="img-logo"src="logo1.png" alt="Logo"/>
        </div>
    </header>
    
    
    <section class="content" >
        <div class="leter-logo-box">
            <h2 class="text-mauten" >Maute´n</h2>
            <h2 class="text-gril" >Gril</h2>
        </div>
        <div>
            <button>Empecemos</button>
        </div>
    </section>
    
    
    
    <footer class="footer">
       <img class="back-burger" src="burguer.png"/>
        
    </footer>
</div>