@import'../../../styles.scss';

///////Heder////// 
.img-logo-box{
    width: auto;
    height: 25vh;
    display: flex;
    justify-content: center;
}

.img-logo{
    height: 100%;
}



///////content////// 




.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.leter-logo-box{
    color: $primary-color;
    font-family: $fotn-logo;
    text-shadow: 0.2vw 0.2vw 0.2vw $secondary-color;
    font-weight: bold;
    font-size: 6vw;

}

.text-mauten{
    display: flex;
    justify-content: center;
    height: 10vh;
    
}
.text-gril{
    display: flex;
    justify-content: center;
    padding-left: 20vw;

}


///////Footer//////


.back-burger{
    width: 30vw;
    height: 30vh;
}

//////// all //////  

.landing{
    background-color: $back-color;
}