<form>
    <label for="product">Tipo:</label>

    <select id="product" name="product" required>
        <option value="1">Producto 1</option>
        <option value="2">Producto 2</option>
        <option value="3">Producto 3</option>
            <option value="4">Producto 4</option>
        </select>
        <label for="product">Proucto:</label>

        <select id="product" name="product" required>
            <option value="1">Producto 1</option>
            <option value="2">Producto 2</option>
            <option value="3">Producto 3</option>
                <option value="4">Producto 4</option>
            </select>

    <label for="quantity">Cantidad:</label>
    <input type="number" id="quantity" name="quantity" required>

    <label for="customer">Observacion</label>
    <input type="text" id="customer" name="customer" >


    <button type="submit">Agregar</button>
</form> 